/*body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

.modal-body {
  max-height: 250px;
  overflow: hidden;
  overflow-y: scroll;
}

.name .glyphicon {
  font-size: 12px;
  margin-left: 10px;
}

.glyphicon-ok { color: #4CAF50; }
.glyphicon-remove { color: #E91E63; }

.company { cursor: pointer; }

.companies.table > thead > tr > td,
.companies.table > tbody > tr > td,
.companies.table > tfoot > tr > td {
  vertical-align: middle;
}
.companies th:last-child,
.companies th:nth-last-child(2) {
  width: 50px;
  text-align: center;
}
.companies td:nth-last-child(2) {
  text-align: center;
}
